{{!< default}}
<div class="container">
  <div class='row'>
    <div class='col-xs-12'>
      <div id="vue--cart" class='good card'>
        <div v-if="!goods || goods.length === 0" class='lead'>Ваша корзина пуста.</div>
        <template v-else>
          <h2>Корзина</h2>
          <table class='cart-list table'>
            <thead>
              <tr>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Цена, руб.</th>
                <th></th>
              </tr>
            </thead>
            <tr v-for="item in goods">
              <td>
                <a :href="'/goods/' + item.goodData._id">${ item.goodData.name }</a>
              </td>
              <td class="cart-list__input">
                <input type="number" :value="item.qty" min="0" v-on:change="changeQty(item, $event)"></input>
              </td>
              <td>
                ${ item.goodData.price }
              </td>
              <td class="cart-list__rm" v-on:click="removeItem(item)">
                ✕
              </td>
            </tr>
            <tr v-if="total" style="font-weight: 600;">
              <td colspan="2">Всего:</td>
              <td colspan="2">${ total }</td>
            </tr>
          </table>

          <form method='post'>
            <div class="row">
              <div class='form-group col-sm-5' style='margin-top: 20px;'>
                <legend>Комментарий к заказу</legend>
                <textarea class='form-control' name='comment'></textarea>
              </div>

              <div class='col-sm-6 col-sm-offset-1' style='margin-top: 20px;'>
                <legend>Доставка</legend>

                <fieldset class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input name="deliv-type" class="form-check-input" type="radio" value="shop" v-model="options.deliv">
                      Самовывоз из магазина
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input name="deliv-type" class="form-check-input" type="radio" value="deliver" v-model="options.deliv">
                      Доставка
                    </label>
                  </div>
                </fieldset>

                <input
                  v-if="options.deliv === 'deliver'"
                  placeholder="Адрес"
                  type='text'
                  name="deliv-addr"
                  class='form-control'
                  name='deliv-address'
                ></input>
                <select v-else class='form-control' name='deliv-shop' v-model="options.shop">
                  <option v-for="shop in shops" :value="shop._id">${shop.address} (${shop.name})</option>
                </select>
              </div>
            </div>

            <fieldset v-if="user.isAnonymous" class="form-group">
              <legend>Регистрация</legend>
              <div>
                <label>e-mail для связи:</label>
                <input required class='form-control' type='e-mail' v-model="user.email"></input>
              </div>
              <div>
                <label>Номер телефона:</label>
                <input class='form-control' type='e-mail' v-model="user.phone"></input>
              </div>
              <div>
                <label>Пароль:</label>
                <input class='form-control' type='text' v-model="user.password"></input>
              </div>
              <div>
                  <label>Я...</label>
                  <select v-model="user.about" class="form-control"required>
                    <option value="private">Частное лицо</option>
                    <option value="company">Компания</option>
                  </select>
              </div>
              <div>
                  <label>${user.about === 'private' ? 'Имя' : 'Название'} (для оформления накладной)</label>
                  <input type="text" v-model="user.name" class="form-control" required></input>
              </div>
            </fieldset>

            <div v-if="!user.isAnonymous" class='input-group-btn'>
              <input type='hidden' name='action' value='checkout'>
              <button type="submit" :disabled="total <= 0" class='btn btn-default order__btn checkout__btn'>
                Оформить заказ
              </button>
            </div>
            <div v-else class='input-group-btn'>
              <button v-on:click.stop.prevent="register" :disabled="!user.email || !user.password" class='btn btn-default order__btn checkout__btn'>
                Зарегистрироваться
              </button>
            </div>
          </form>
        </template>
      </div>
    </div>
  </div>
</div>
