{{!< default}}
<div class="container">
    <div class='row'>
        <div class='col-xs-12'>
            <div class='good card'>
                <h2>Ваш заказ</h2>
                <table class='cart-list'>
                    {{#each items }}
                        <tr>
                            <td>
                                <a href="/goods/{{goodData._id}}">{{ goodData.name }}</a>
                            </td>
                            <td>
                                {{ qty }}
                            </td>
                            <td>
                                user cat
                                {{ goodData.prices.retail }}
                            </td>
                        </tr>
                    {{/each}}
                </table>
                <form method='post'>
                  <div class='input-group-btn'>
                      <input type='hidden' name='action' value='checkout'>
                      <button type="submit" class='btn btn-default order__btn checkout__btn'>
                          Оформить заказ
                      </button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
