{{!< default}}
<div class="container">
	<div class="jumbotron">
        <div>
            <h2>Ваш заказ</h2>
            <ul>
        		{{#each items }}
                    <li>{{ goodData.name }}: {{ qty }} x {{ goodData.prices.cat1 }}</li>
                {{/each}}
            </ul>
        </div>
	</div>
</div>
