<div class="container">
  <div class="row">
    <div class="col-sm-12 card">
      <h1>Контакты</h1>
      <ul style='font-size: 18px;'>
        <li>Тел. 8 929 620–49–51
        <li>E-mail: opt-ir@mail.ru
        <li>ИП Тур Д.С.
        <li>ЕГРИП 316504800050530
        <li>ИНН 504810531956
      </ul>
    </div>
  </div>
</div>
