{{!< default}}
<div class="container">
  <div>
    <div class='row intro'>
      <div class='col-sm-6 col-xs-12'>
        <div class='intro__map' id="mapid"></div>
        <a href='/shopmap' class='intro__map--mobile card card--link'>
          Магазины на карте
        </a>
      </div>
      <div class='col-sm-6 col-xs-12 hidden-xs'>
        <div class="intro__promo-copy">
          <div id="slider"></div>
        </div>
      </div>
    </div>
    <div id="goods">
      {{#each goodsByCategory }}
        {{> category this}}
      {{/each}}
    </div>
  </div>

  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

</div>
