{{!< default}}
<div class="container">
    <div class='snipcart-categories row'>
        <div class='col-xs-12'>
            <h1>Магазин по адресу {{ shop.address }}</h2>
            <div>
                {{ shop.desc }}
            </div>
        </div>
    </div>
    <div class='snipcart-categories row'>
        <h2 class='col-xs-12'>Товары в этом магазине</h2>
    </div>
    <div class='snipcart-categories row'>
        {{#pricelistBlocks goods}}
        {{/pricelistBlocks}}
    </div>
</div>
