{{!< default}}
<div id="mapid" class="map--mobile"></div>

<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="/js/Leaflet.Sleep.js"></script>
<script src="/js/map.js"></script>
