<div class='col-md-8 col-sm-6 col-xs-6'>
    <div class='row'>
        <div class='col-sm-12'>
            {{>card product=items.[0]}}
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            {{>card product=items.[1]}}
        </div>
        <div class='col-sm-6'>
            {{>card product=items.[2]}}
        </div>
    </div>
</div>
