<div class='col-md-3 col-sm-6 col-xs-12'>
    {{>card product=this.[0]}}
    {{>card product=this.[1]}}
</div>
<div class='col-md-3 col-sm-6 col-xs-12'>
    {{>card product=this.[2]}}
    {{>card product=this.[3]}}
</div>
