<div class='col-sm-6 col-xs-12'>
    <div class='row'>
        <div class='col-sm-12'>
            {{>card product=this.[0]}}
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            {{>card product=this.[1]}}
        </div>
        <div class='col-sm-6'>
            {{>card product=this.[2]}}
        </div>
    </div>
</div>
