<div class='col-md-{{base}} col-sm-6 col-xs-6'>
    {{>card product=items.[0] extend="double"}}
</div>
<div class='col-md-{{base}} col-sm-6 col-xs-6'>
    {{>card product=items.[1]}}
    {{>card product=items.[2]}}
</div>
