<div class='col-md-3 col-sm-6 col-xs-12'>
    {{>card product=this.[0] extend="double"}}
</div>
<div class='col-md-3 col-sm-6 col-xs-12'>
    {{>card product=this.[1]}}
    {{>card product=this.[2]}}
</div>
