<div class='col-md-{{base}} col-sm-6 col-xs-6'>
    {{>card product=items.[0]}}
    {{>card product=items.[1]}}
</div>
<div class='col-md-{{base}} col-sm-6 col-xs-6'>
    {{>card product=items.[2]}}
    {{>card product=items.[3]}}
</div>
