@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700&subset=latin,cyrillic);

$salad: #55ab55;

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
	background-color: $salad;
}

.logo--img {
	max-width: 200px;
	margin-top: -13px;
	width: 100%;
}

.pricelist__item {
    display: block;
    border-top: 1px solid #eee;
    margin-bottom: 20px;
    padding-top: 15px;

    &, &:hover {
        color: #333;
    }

    h2 {
        margin-top: 0;
    }

    h2:hover {
        color: $salad;
        text-decoration: underline;
    }
}

// template
#header #logo h3,#header #navbar .panel-activation{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#body{
    padding-top:8rem;
}
#header{
    position: fixed;
    z-index: 10;
    width:100%;
    height:5rem;
    background-color: rgb(255,255,255) !important;
    box-shadow:0 5px 12px rgba(0,0,0,0.2);
}

@mixin no-def-link {
    &, &:hover, &:active, &:focus {
        text-decoration: none;
        color: #333333;
    }
}

.cat-promo {
    margin-top: 10px;

    &__main, &__main:hover, &__main:active {
        @include no-def-link;
    }

    &__title {
        margin-top: 0;
        font-size: 36px;
    }

    &__details {
        font-size: 20px;
        float: left;
    }
}

.card {
    padding: 10px;
    overflow: hidden;
    display: block;
    height: 100px;
    margin-top: 15px;
    background-color: white;
    @include no-def-link;
    border: 1px solid white;

    &--double {
        height: 215px;
    }

    h3 {
        margin-top: 0;
    }

    &:hover {
        border-color: rgb(255, 59, 48);
        // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    &__thumb {
        display: block;
        float: left;
        max-width: 20%;
        max-height: 100%;
    }

    &__content {
        display: block;
        max-height: 100%;
        max-width: 70%;
        margin-left: 30%;
    }

    &__title {
        font-size: 16px;
        margin-top: 0;
    }
}

.cat-header {
    position: relative;
}

.cat-header h2 {
    display:inline-block;
    letter-spacing: 0;
}

.cat-header .button {
    position: absolute;
    right: 0;
    margin-top: 1.5em;
}

.product--price {
    text-align: right;
}

@media only all and (max-width: 715px) {
    .header--contact {
        display: none;
    }
}

#logo {
    overflow: hidden;
}
